<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mapper.CboardMapper">

	<!-- //////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// 
		//////////////////////////회사정보 insert///////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// -->
	<insert id="create_home">
		INSERT INTO k_home
		(companyCode, hashtag,
		companyimg,pimage,introduce, country)
		VALUES
		(#{companyCode},#{hashtag},
		#{companyimg},#{pimage},
		#{introduce},#{country});
	</insert>
	<insert id="create_about" parameterType="com.test.domain.K_aboutVO"	>
		INSERT INTO `k_about`
		(`companyCode`,`compname_kr`, `compname_en`,
		`businessType`,`repname`,
		`businessname`,`main_product`,
		`establish`,`employees`,`homepage`, `address`, `phonenumber`, `fax`,
		`businessStatus`, `take`,`capital`, `netincome`,`certificationStatus`,
		`AboutUs`)
		VALUES
		(#{companyCode},#{compname_kr},#{compname_en},#{businessType},#{repname},#{businessname},#{main_product},
		#{establish},#{employees},#{homepage},#{address},#{phonenumber},#{fax},#{businessStatus},#{take},
		#{capital},#{netincome},#{certificationStatus},#{AboutUs});
	</insert>
	<insert id="first_product">
		INSERT INTO 
			`k_product` 
		(`companyCode`)
			VALUES
		(#{comCode});
	</insert>
	<insert id="create_product" parameterType="com.test.domain.K_productVO">
		INSERT INTO 
			`k_product` 
		(`companyCode`,`image`,`product`,`product_en`,`usage`,`pcod`,`pinfo`)
			VALUES
		(#{companyCode},#{image},#{product},#{product_en},#{usage},#{pcod},#{pinfo});
	</insert>
	<insert id="create_contact" parameterType="com.test.domain.K_contactVO">
		INSERT INTO `k_contact`
		( `companyCode`,`phonenumber`, `fax`,
		`email`,`address`,`organizationChart`)
		VALUES
		(#{companyCode},#{phonenumber},
		#{fax},#{email},#{address},#{organizationChart});
	</insert>
	<!-- //////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////회사정보 select///////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// -->
	<select id="getid" resultType="K_homeVO">
		SELECT
		`userid`
		FROM
		`k_home`
		WHERE
		`userid`=#{userid};
	</select>
	<select id="readPage_home" resultType="K_homeVO">
		SELECT
		`hid`, `companyCode`,
		`hashtag`, `companyimg`,`pimage`, `introduce`, `country`
		FROM
		`k_home`
		WHERE
		`companyCode`=#{code};
	</select>
	<select id="readPage_about" resultType="K_aboutVO">
		SELECT
		`aid`, `companyCode`,
		`compname_kr`, `compname_en`, `businessType`, `repname`,
		`businessname`,`main_product`, `establish`, `employees`, `homepage`,
		`address`,
		`phonenumber`, `fax`,`businessStatus`, `take`, `capital`,
		`netincome`,
		`certificationStatus`, `AboutUs`
		FROM
		`k_about`
		WHERE
		`companyCode`=#{code};
	</select>
	<select id="readPage_product" resultType="K_productVO">
		SELECT
			`pid`,`companyCode`,`image`,`product`,`product_en`,`usage`,`pcod`,`pinfo`
		FROM
			`k_product`
		WHERE
			`companyCode`= #{code};
	</select>
	<select id="readPage_contact" resultType="K_contactVO">
		SELECT
		`cid`, `companyCode`,
		`phonenumber`, `fax`, `email`, `address`,
		`organizationChart`
		FROM
		`k_contact`
		WHERE
		`companyCode`=#{code};
	</select>
	<!-- //////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////회사정보 update///////////////////////////////////////////// 
		//////////////////////////////////////////////////////////////////////////////// 
		/////////////////////////////////////////////////////////////////////////////////// -->
	<select id="updateread_home" resultType="K_homeVO">
		SELECT
		`hid`, `companyCode`,
		`hashtag`, `companyimg`,`pimage`, `introduce`, `country`
		FROM
		`k_home`
		WHERE
		`hid`=#{hid};
	</select>
	<update id="update_home">
		update k_home set
		`hashtag` =#{hashtag},`companyimg`
		=#{companyimg},`pimage`=#{pimage}
		,`introduce` =#{introduce},`country`
		=#{country}
		where
		`hid`=#{hid}
	</update>
	<select id="updateread_about" resultType="K_aboutVO">
		SELECT
		`companyCode`,`compname_kr`,
		`compname_en`, `businessType`, `repname`,
		`businessname`,`main_product`, `establish`, `employees`, `homepage`,
		`address`,`phonenumber`, `fax`,`businessStatus`, `take`, `capital`,
		`netincome`,
		`certificationStatus`, `AboutUs`
		FROM
		`k_about`
		WHERE
		`aid`=#{aid};
	</select>
	<update id="update_about">
		update k_about set
		`compname_kr` =#{compname_kr}
		,`compname_en` =#{compname_en},
		`businessType`
		=#{businessType},`repname` =#{repname},`businessname`
		=#{businessname},
		`main_product` =#{main_product} ,`establish`
		=#{establish},`employees`
		=#{employees},
		`homepage`
		=#{homepage},`address` =#{address},`phonenumber`
		=#{phonenumber},`fax`
		=#{fax},
		`businessStatus` =#{businessStatus},`take` =#{take},`capital`
		=#{capital},`netincome`
		=#{netincome},
		`certificationStatus`
		=#{certificationStatus},`AboutUs` =#{AboutUs}
		where
		`aid`=#{aid}
	</update>
	<select id="updateread_product" resultType="K_productVO">
		SELECT
		`pid`,`companyCode`, `image`,`product`,`product_en`,
		`usage`,`pcod`,`pinfo`
		FROM
		`k_product`
		WHERE
		`pid`=#{pid};
	</select>
	<update id="update_product">
		update k_product set
		`image` =#{image},
		`product`=#{product},
		`product_en`=#{product_en},
		`usage` =#{usage},
		`pcod`=#{pcod},
		`pinfo`=#{pinfo}
		where
		`pid`=#{pid}
	</update>
	<select id="updateread_contact" resultType="K_contactVO">
		SELECT
		`cid`,
		`companyCode`, `phonenumber`, `fax`, `email`, `address`,
		`organizationChart`
		FROM
		`k_contact`
		WHERE
		`cid`=#{cid};
	</select>
	<update id="update_contact">
		update k_contact set
		`phonenumber`
		=#{phonenumber},`fax`
		=#{fax},
		`email` =#{email},`address`
		=#{address},`organizationChart`
		=#{organizationChart}
		where
		`cid`=#{cid}
	</update>
	<update id="delpimage">
		UPDATE k_home
		set
		pimage = 'noimg.jpg'
		where
		companyCode =
		#{companyCode};
	</update>
	<update id="delcompanyimg">
		UPDATE k_home
		set
		companyimg = 'noimg.jpg'
		where
		companyCode =
		#{companyCode};
	</update>
	<insert id="insert_comcode">
		INSERT INTO k_companycode
		(comname_kr,
		comname_en,companyCode)
		VALUES
		(#{comname_kr},#{comname_en},#{comCode});

	</insert>
	<select id="getcodeid" resultType="IndividualVO">
		select
		one.first,one.last,two.title
		from
		k_joinone one join k_jointwo two
		on
		one.one_id = two.one_id
		where one.email = #{id};
	</select>
	<insert id="insert_companyuser">
		INSERT INTO k_companyuser
		(companyCode,
		userid,first,last,title,repname,country)
		VALUES
		(#{companyCode},#{userid},#{first},#{last},#{title},#{repname},#{country});

	</insert>
	<select id="getcompanylist" resultType="CompanyVO">
		select
		kcu.cuid,kcu.companyCode, kcu.userid, kcu.first, kcu.last, kcu.title,kcu.repname,
		kcu.manager,kcu.country,kcc.comname_kr,kcc.comname_en
		from
		k_companyuser kcu join k_companycode kcc
		on
		kcu.companyCode = kcc.companyCode
		where
		kcu.userid=#{id};	
	</select>
	<select id="checkcompany" resultType="CompanyVO">
		select * from 
			k_companyuser
		where 
			companyCode = #{code}
		and 
			userid = #{id};
	</select>
	<select id="searchcode" resultType="CompanyVO">
		select companyCode from 
			k_companyuser
		where
			userid = #{id};
	</select>
	<select id="selectcompany" resultType="CompanyVO">
		select
			kcc.comname_kr,kcc.comname_en,kcc.companyCode,kcu.repname,kcu.country 
		from 
			k_companycode kcc join k_companyuser kcu
			on
			kcc.companyCode = kcu.companyCode
			where kcu.manager =1
			GROUP by kcc.companyCode desc;
	</select>
	<select id="selectKeywordcompany" resultType="CompanyVO">
		select
			kcc.comname_kr,kcc.comname_en,kcc.companyCode,kcu.repname,kcu.country 
		from 
			k_companycode kcc join k_companyuser kcu
			on
			kcc.companyCode = kcu.companyCode
			where kcu.manager =1 and kcc.comname_kr LIKE CONCAT('%', #{keyword}, '%') or
			kcu.manager =1 and kcc.comname_en LIKE CONCAT('%', #{keyword}, '%') or
			kcu.manager =1 and kcu.repname LIKE CONCAT('%', #{keyword}, '%') or
			kcu.manager =1 and kcu.country LIKE CONCAT('%', #{keyword}, '%') 
			GROUP by kcc.companyCode desc;
	</select>
	<select id="getaddress" resultType="CompanyVO">
		select
			country,repname
		from 
			k_companyuser
		where 
			companyCode = #{companyCode} and manager='1';
	</select>
		<delete id="remove" parameterType="FollowVO">
		delete from k_product where
		pid=#{pid};
	</delete>
	<select id="selectgroup" resultType="CompanyVO">
		select 
			userid,first,last,title,repname,manager
		from
			k_companyuser 
		where
			companyCode=#{code} 
		order by cuid;
	</select>
	<update id="update_company_about">
		UPDATE 
			k_companycode kcc INNER JOIN k_companyuser kcu
		ON 
			kcc.companyCode = kcu.companyCode
		SET
			kcc.comname_kr =#{comname_kr},
			kcc.comname_en=#{comname_en},
			kcu.repname=#{repname}
		WHERE
			kcc.companyCode =#{companyCode} and kcu.companyCode=#{companyCode};
	</update>
	<update id="update_company_contact">
		UPDATE k_companyuser 
		SET
			country = #{country}
		WHERE
			companyCode=#{companyCode};
	</update>
	<update id="company_indi">
		UPDATE 
			k_companyuser 
		SET
			first = #{first},
			last = #{last},
			title = #{title}
		WHERE
			userid=#{userid};
	</update>
	<select id="searchproduct" resultType="K_productVO">
		select 
		pid,companyCode,image,product,product_en,`usage`,pcod ,pinfo
		from 
		k_product 
		where 
		product LIKE CONCAT('%', #{keyword}, '%') or product_en LIKE CONCAT('%', #{keyword}, '%') 
		or `usage` LIKE CONCAT('%', #{keyword}, '%') or pcod LIKE CONCAT('%', #{keyword}, '%') 
		GROUP BY  pid DESC
		limit 0,5 ;
	</select>
	<select id="selectcompanycount" resultType="int">
		select
			count(kcc.companyCode)
		from 
			k_companycode kcc join k_companyuser kcu
			on
			kcc.companyCode = kcu.companyCode
			where kcu.manager =1;
	</select>
	<select id="selectKeywordcompanycount" resultType="int">
		select
			count(kcc.companyCode)
		from 
			k_companycode kcc join k_companyuser kcu
			on
			kcc.companyCode = kcu.companyCode
			where kcu.manager =1;
	</select>
</mapper>